<<<<<<< HEAD
/* FONT STACK */

html {
	background-color : #F6F6F6;	
	height           : 100%;
	
	margin           : 0;
	padding          : 0;
}

body {
	margin : 0;
}

body,
input, select, textarea {
	font-family : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#content {
	margin : 0 auto;
	width  : 960px;
}

/* Title style. */
h2 {	
	color          : #000;
	border-bottom  : 1px #cccccc solid;
	font-size      : 18px;
	
	padding        : 0;
	padding-bottom : 8px;
	margin         : 0; 
}

h3  {
	border-bottom  : 1px #cccccc solid;
	padding        : 0;
	margin         : 0; 
}

/* Global style. */
a {	
	color           : #355E95;
	text-decoration : none;
}

a:hover {
	color : #000;
}


img {
	border: 0;
        vertical-align : middle;
}

hr {
	background-color: #cccccc;
	border: 0;
        margin : 0px !important;
        margin-top : 3px !important;
}

p {
	text-align    : justify;
}

.logo {
}

/* Menu bar. */
#topMenu {	
	min-height       : 44px;
	background-color : #3D6AA2;
	width            : 960px;
	margin           : 0 auto;
}

#topMenuBackground {
	background-color : #3D6AA2;
        box-shadow       : -1px 2px 3px 1px rgba(0, 0, 0, 0.7);
        margin-bottom    : 20px;
}

#topMenu #listMenu {	
	padding         : 0;
	margin          : 0;
	list-style-type : none;
}

#topMenu #listMenu #menuItem a {
	display         : block;
	float           : left; 
	line-height     : 40px;
	color           : #fff;
	text-decoration : none;
	font-weight     : bold;
	margin-right    : 15px; 
	text-shadow     : 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#topMenu #listMenu #menuItem a:hover, #topMenu #listMenu #menuItem a.active {
	color       : #000;
	text-shadow : none;
}

.tagNb {
	font-size   : 11.844px;
	font-weight : bold;
	line-height : 14px;
}

/* Last menu item style.*/
#lastMenu {
	float : right;
	margin-top : 10px;
}

#lastMenu a {
  cursor : pointer;
}

#lastMenu #dLabel {
	
	text-shadow     : 0 -1px 0 rgba(0, 0, 0, 0.25);
	color           : #fff;
	text-decoration : none;
	font-weight     : bold;
}

#lastMenu #loginButton {
	
	text-shadow     : 0 -1px 0 rgba(0, 0, 0, 0.25);
	color           : #fff;
	text-decoration : none;
	font-weight     : bold;
}

.hide {
  display : none;
}

/* Tags and badges style. */
.label, .badge {	
  vertical-align   : middle !important;
  margin-left      : 0px;
  margin-right     : 0px;
}

/* Related to post. */
.postAccepted {
  border-left : 3px solid #468847;
}

.post .postMark {
  float        : left; 
  width        : 46px; 
  text-align   : center; 
  font-size    : 1.5em; 
}

.postVote  {
  color : #f89406;
}

.postVoteDisable {
  color : #999;
}

.post .postContent {  
  margin-left : 56px;
  min-height  : 87px;
}

.tab-content {
  overflow : visible !important;
}

.commentTextArea {
  margin-left : 50px;
  display     : none;
}

.comment {
  cursor : pointer;
}

.commentDate {
  color: #999;
}

.commentMark {
  font-size    : 110%;
  color        : #666666;
  font-weight  : bold;
  margin-right : 6px;
}

.commentContent {
  margin-bottom : 0px;
}

.postToolbar {
  margin-left : 56px;
}

.postToolbar span {
  margin-right : 4px;
}

.commentToolbar span {
  margin-right : 4px;
}

.postBottomBar {
  min-height : 20px;
}

.postBlankSpace {
  height : 80px;
}

.commentPost {
  margin-left    : 56px; 
  border-bottom  : 1px #cccccc dashed; 
  padding        : 4px; 
  vertical-align : middle;
}

.formButton {
  margin-top    : 5px;
}

h2 span.tags span {

  margin : -3px;
}

/* Form input style. */
div#tags {
	cursor : text;
        width  : 350px;
}

div#tags > input {
	border  : none !important;
        box-shadow : none;
        padding : 0px;
}
div#tags.error {
	border-color: #b94a48;
}

div#tags span {
  margin-top   : -9px;
  margin-right : 3px;
}

.tagClose {
    font-size       : 11.844px;
    text-decoration : none;
    font-weight     : bold;
    line-height     : 14px;
    color           : #ffffff;
    text-shadow     : 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space     : nowrap;
    vertical-align  : middle;
    cursor          : pointer;
}

.itemPost {
	margin :3px;
}


/* Question, Answer, comment and related */
.userPost {

	float       : right;
	margin-left : 8px;
	
}

/* Error */
.alert-infos {
	color                 : #b94a48;
	background-color      : #f2dede;
	padding               : 8px 35px 8px 14px;
	text-shadow           : 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius : 4px;
	-moz-border-radius    : 4px;
	border-radius         : 4px;
}

.alert-error {
	color                 : #b94a48;
	background-color      : #f2dede;
	padding               : 8px 35px 8px 14px;
	text-shadow           : 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius : 4px;
	-moz-border-radius    : 4px;
	border-radius         : 4px;
}

.alert-error ul {	
	padding         : 0;
	margin          : 0;
	list-style-type : none;
}

/* ------- User creation ------- */

.user_form {
  margin: 20px 0 20px 50px;
}

textarea.postContent {
  
  padding : 0;
  margin  : 0;
  height  : 208px;
  width   : 100%;
}

textarea.commentContent {
  
  padding : 0;
  margin  : 0;
  height  : 50px;
  width   : 100%;
}


/* ------- User list ------- */
div .userItem{
	width : 1%;
}

div .usersLine {	
	height : 100px;
	float:left;
	width:25%;
}

/* ------- User profile ------- */

div .leftCol {
	float : left;
	padding-right : 20px;
	width : 25%;
	
}

div .rightCol {
	float : right;
	width : 70%;
}

div.summary {
	height: 250px;
}

div .activity {
	padding-top:40px;
}	

.clear {
	clear : both;
}

code {
  	overflow : auto;
}

div .contributorPostVote {
	float : left; 
	text-align : center; 
	width: 22px; 
	height: 20px; 
	padding: 4px;
	color: #555;
	text-align: center;
	background-color: #eeeeee;
	font-weight: bold;
}

div .contributorPostVoteAccepted {
	float : left; 
	text-align : center; 
	width: 22px; 
	height: 20px; 
	padding: 4px;
	text-align: center;
	font-weight: bold;
	background: #75845C;
	color: #E1E818;
}

div .contributorPostTitle {
	float: left;
	margin-top: 5px;
	padding-left: 10px;
	
}

.contributoPostTilte .link{
	color: #555;
}

div .contributoItemPost {
}

hr  #contributorPostSeparator {
	margin: 0 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}

/**-------LOGIN popup -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:35px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginPopUpForm {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#d2e0ea;
    padding:6px;
}

#loginPopUpForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginPopUpForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginPopUpForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginPopUpForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginPopUpForm #login {
    width:auto;
    float:left;
    background:#339cdf repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}


#loginPopUpForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}


/** ----- Login page ------ */
#login {
	margin: 15px 0px;
	padding: 0px;
	text-align: center;
}

#login .inner {
	width: 360px;
	padding-bottom: 6px;
	margin: 60px auto;
	text-align: left;
	border: 1px solid #aab;
	background-color: #fff;
	-moz-box-shadow: 2px 2px 2px #eee;
	-webkit-box-shadow: 2px 2px 2px #eee;
	-khtml-box-shadow: 2px 2px 2px #eee;
	box-shadow: 2px 2px 2px #eee;
}

#login .inner .fheader {
	padding: 18px 26px 14px 26px;
	background-color:#3D6AA2;
	margin: 0px 0 14px 0;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

#login .inner .cssform p {
	clear: left;
	margin: 0;
	padding: 4px 0 3px 0;
	padding-left: 105px;
	margin-bottom: 20px;
	height: 1%;
}

#login .inner .cssform input[type='text'] {
	width: 120px;
}

#login .inner .cssform label {
	font-weight: bold;
	float: left;
	text-align: right;
	margin-left: -105px;
	width: 160px;
	padding-top: 3px;
	padding-right: 10px;
}

#login #remember_me_holder {
	padding-left: 120px;
}

#login #submit {
	margin-left: 15px;
}

#login #remember_me_holder label {
	float: none;
	margin-left: 20px;
	text-align: left;
	width: 140px
}

#login .inner .login_message {
	padding: 6px 25px 20px 25px;
	color: #c33;
}

#login .inner .text_ {
	width: 120px;
}

#login .inner .chk {
	height: 12px;
	float:left;
}

#divLog {
  display: none;
  position: absolute;
  left:1000px;
  top:44px;
  z-index: 999;    
  padding: 15px;
}

div .summarySpacer {
	float:left;
	width:100%;
	height:20px;
}

div .summaryItem {
	float:left;
	width:48%;
	padding-right:1%;
	height:260px;
}

div .summarySubDiv {
	height:240px;
}



li #login-content {
  right: 0;
  width: 250px;  
}


.pagination {
	
  display                : inline-block;
  margin-bottom          : 0;
  margin-left            : 0;
  -webkit-border-radius  : 4px;
  -moz-border-radius     : 4px;
  border-radius          : 4px;
  -webkit-box-shadow     : 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow        : 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow             : 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination a,
.pagination .currentStep {
  
  padding          : 4px 12px;
  line-height      : 20px;
  text-decoration  : none;
  background-color : #ffffff;
  border           : 1px solid #dddddd;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
  
  background-color : #333333;
  color            : #fff;
  outline          : none;
  text-decoration  : none;
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {

  background-color : transparent;
  color            : #444444;
  text-decoration  : underline;
}

.avatar{
	width: 64px;
	height:64px;
}

.avatar_large{
	width: 96px;
	height:96px;
}

.medal {
  font-size    : 11.844px;
  font-weight  : bold;
  line-height  : 14px;
  margin-right : 4px;
}

.gold {
  color : #ffcc00;
}

.silver {
  color : #ccc;
}

.chocolate {
  color : #5c3317;
}

.bronze {
  color : #a67d3d;
}

.success {
  color : #468847;
}

.error {
  color : #b94a48;
}

.activityType {
  float       : left;
  width       : 180px;
  margin-left : 10px;
}
