/* FONT STACK */
body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
	margin : 0;
}

h2 {
	
	color          : #669933;
	border-bottom  : 1px #cccccc solid;
	padding-bottom : 8px; 
}

/* BASE LAYOUT */

html {
	background-color : #CCCCCC;	
	height           : 100%;
	
	margin           : 0;
	padding          : 0;
}


#content {
	background: #ffffff;
	margin: 0 auto;
	height: 100%;
}

/* Menu bar. */
#topMenu {	
	min-height       : 40px;
	background-color : #CCCC66;
	width            : 100%;
}

#topMenu ul {
	
	padding         : 0;
	margin          : 0;
	list-style-type : none;
}

#topMenu ul li a {
	display         : block;
	float           : left; 
	line-height     : 40px;
	color           : #fff;
	text-decoration : none;
	font-weight     : bold;
	margin-right    : 15px; 
	text-shadow     : 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#topMenu ul li a:hover {
	color       : #000;
	text-shadow : none;
}

#firstMenu {
	margin-left : 8px;
}

#lastMenu {
	float : right;
}

img {
	border: 0;
}

/* Tag */
.label, .badge {
display: inline-block;
padding: 2px 4px;
font-size: 11.844px;
font-weight: bold;
line-height: 14px;
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
white-space: nowrap;
vertical-align: middle;
background-color: #999999;
margin-left : 2px;
}

.label-info, .badge-info {
background-color: #3a87ad;
}

.label-success, .badge-success {
background-color: #468847;
}

.label-important, .badge-important {
background-color: #b94a48;
}

.label-warning, .badge-warning {
background-color: #f89406;
}

.itemPost {
	margin :3px;
}

hr {
	background-color: black;
	height: 1px;
	border: 0;
}

.postAccepted {
	background-color : #99CC66; 
}

.user_form {
  margin: 0 0 20px;
}

<<<<<<< HEAD
div#tags {
 border : 1px #5c5c5c solid;  
 height : 20px;
 width: 500px;
 padding : 2px;
}

div#tags input:focus {
 outline:none;   
}

div#tags input {
    margin-left : 3px;
    outline:none;
    border : none;
}

.tagClose {
    font-size: 11.844px;
    text-decoration : none;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: middle;
    cursor : hand;
}

.tagClose:hover {
    cursor : pointer;
}

// CSS BootStrap

/* ------- User creation ------- */

/*fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

label {
  display: block;
  margin-bottom: 5px;
}

legend small {
  font-size: 15px;
  color: #999999;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}*/

.value {
	float: left;
}

.value_errors {
	float: left;
	background-color: red;
}


/* ------- User --------- */

div .content {
	width : 70%; 
	padding-left: 15%;
}

/* ------- User list ------- */
div .userItemList {
	float: left;
}

div .usersLine {
	float	: left;
	width	: 25%; 
	height	: 90px;
}

/* ------- User profile ------- */

div .leftCol {
	float : left;
	padding-right : 20px;
	width : 20%;
}

div .rightCol {
	float : left;
	width : 70%;
}

div.summary {
		
}

div .activity {
	
}
