/* FONT STACK */

html {
	background-color : #F6F6F6;	
	height           : 100%;
	
	margin           : 0;
	padding          : 0;
}

body {
	margin : 0;
}

body,
input, select, textarea {
	font-family : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#content {
	margin : 0 auto;
	width  : 960px;
}

/* Title style. */
h2 {	
	color          : #000;
	border-bottom  : 1px #cccccc solid;
	font-size      : 18px;
	
	padding        : 0;
	padding-bottom : 8px;
	margin         : 0; 
}

/* Global style. */
a {	
	color           : #355E95;
	text-decoration : none;
}

a:hover {
	color : #000;
}


img {
	border: 0;
}

hr {
	background-color: #cccccc;
	height: 1px;
	border: 0;
}

input, select, textarea, select, div#tags {
	background-color : #fcfcfc;
	border           : 1px solid #cccccc;
	font-size        : 1em;
	padding          : 0.2em 0.4em;
	font             : 100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
	color            : #333;
}

input:focus, textarea:focus {
	outline : none;   
}

p {
	text-align    : justify;
}

/* Menu bar. */
#topMenu {	
	min-height       : 44px;
	background-color : #3D6AA2;
	width            : 960px;
	margin           : 0 auto;
	margin-bottom    : 20px;
}

#topMenu ul {	
	padding         : 0;
	margin          : 0;
	list-style-type : none;
}

#topMenu ul li a {
	display         : block;
	float           : left; 
	line-height     : 40px;
	color           : #fff;
	text-decoration : none;
	font-weight     : bold;
	margin-right    : 15px; 
	text-shadow     : 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#topMenu ul li a:hover, #topMenu ul li a.active {
	color       : #000;
	text-shadow : none;
}

.tagNb {
	font-size   : 11.844px;
	font-weight : bold;
	line-height : 14px;
}

/* Last menu item style.*/
#lastMenu {
	float : right;
}

/* Tags and badges style. */
.label, .badge {	
	display          : inline-block;
	padding          : 2px 4px;
	font-size        : 11.844px;
	font-weight      : bold;
	line-height      : 14px;
	color            : #ffffff;
	text-shadow      : 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space      : nowrap;
	vertical-align   : middle;
	background-color : #999999;
	margin-left      : 2px;
	margin-right     : 2px;
}

.label-info, .badge-info {	
	background-color : #3a87ad;
}

.label-success, .badge-success, .postAccepted {	
	background-color : #468847;
}

.label-important, .badge-important {	
	background-color : #b94a48;
}

.label-warning, .badge-warning {	
	background-color : #f89406;
}

/* Form input style. */
div#tags {
	display     : inline;
	cursor      : text;
	margin-left : 2px;
}

div#tags > input {
	border  : none;
	padding : 0;
}

.tagClose {
    font-size       : 11.844px;
    text-decoration : none;
    font-weight     : bold;
    line-height     : 14px;
    color           : #ffffff;
    text-shadow     : 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space     : nowrap;
    vertical-align  : middle;
    cursor          : pointer;
}

.itemPost {
	margin :3px;
}


/* Question, Answer, comment and related */
.userPost {

	float       : right;
	margin-left : 8px;
	
}

/* ------- User creation ------- */

.user_form {
  margin: 20px 0 20px 50px;
}

label {
  display: block;
  margin-bottom: 5px;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.error ,
select.error ,
textarea.error  {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.error :focus,
select.error :focus,
textarea.error :focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}


/* ------- User --------- */

div .content {
	width : 70%; 
	padding-left: 15%;
	padding-top: 80px
}


/* ------- User list ------- */
table .userItem{
	width : 1%;
}

table .usersLine {	
	height : 100px;
}

/* ------- User profile ------- */

div .leftCol {
	float : left;
	padding-right : 20px;
	width : 25%;
	
}

div .rightCol {
	float : right;
	width : 70%;
}

div.summary {
	height: 250px;
}

div .activity {
}	
}

.clear {
	clear : both;
}
